body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 15vh;
    background-color: beige;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 60px;
}

button{
    width: 40vw;
    border-radius: 5px !important;
    padding: 10px !important;
    
}

button:hover{
    /* width: 100vw !important; */
    background-color: #262626;
    color: #d8b468;
    border-color: #d8d8d8;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
}

.product img {
    width: 80%;
    /* Adjust the width of the image as needed */
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    color: #008000;
    margin-top: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
}

/* Existing styles remain unchanged */

/* Existing styles remain unchanged */

/* Media query for mobile devices */
@media (max-width: 600px) {
    .cart {
        width: 100%;
    }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .product {
        width: 100%;
    }

    footer {
        position: static;
        margin-top: 20px;
    }
}


.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artforms-button {
    width: 50%;
    flex: 1;
}

.theme-button {
    width: 50%;
    flex: 1;
    
}

.sticky-top {
    opacity: 90%;

}

.parent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

