body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black !important;
    color: #d8b468;
    
}

header {
    height: 15vh;
    background-color: #262626;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 60px;
}

button{
    width: 40vw;
    border-radius: 10px !important;
    padding: 10px !important;
    

    background-color: #262626;
    color: #d8b468;
    border-color: #d8b468;
    transition: transform 0.3s, background-color 0.3s;
    
}

button:hover{
    /* width: 100vw !important; */
    background-color: #d8b468;
    border-color: #262626;
    color: #262626;
    
    
}

.product {
    border: 1px solid #d8b468;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    background-color: black;
    color: #d8b468;
}

.product img {
    width: 80%;
    /* Adjust the width of the image as needed */
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 40px;
    
}

.price {
    font-weight: bold;
    
    margin-top: auto;
}

img{
    
    
    height: 60vh;
    width: 60vh;
    
    transition-duration: 0.3s;
}
img:hover {
    filter: brightness(30%);
    transform: scale(1.1);
}

.img-text{
    position: relative;
    
    opacity: 0;
}

.image-container:hover .img-text{
    opacity: 1;
}

footer {
    background-color: #262626;
    color: #d8b468;
    text-align: center;
    padding: 1em;
    width: 100%;
}

@media (max-width: 600px) {
    .cart {
        width: 100%;
    }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .product {
        width: 100%;
    }

    footer {
        position: static;
        margin-top: 20px;
    }
}


.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artforms-button {
    width: 50%;
    flex: 1;
}

.theme-button {
    width: 50%;
    flex: 1;
    
}

.sticky-top {
    
    opacity: 90%;

}

.parent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
